In [13]:
from PIL import Image
import pandas as pd
import glob
import re
import matplotlib.pyplot as plt
import cv2
import os
from image_processing import *

**Empiezo con el subconjunto de 2000 imagénes**

In [14]:
subset = pd.read_csv("../output/df_subset.csv")

In [18]:
subset.drop(columns = "Unnamed: 0", inplace = True)
subset

     label        image
0      MSI    MSI_0.jpg
1      MSI    MSI_1.jpg
2      MSI    MSI_2.jpg
3      MSI    MSI_3.jpg
4      MSI    MSI_4.jpg
...    ...          ...
1995   MSS  MSS_995.jpg
1996   MSS  MSS_996.jpg
1997   MSS  MSS_997.jpg
1998   MSS  MSS_998.jpg
1999   MSS  MSS_999.jpg

[2000 rows x 2 columns]

**Probar primero con imágenes en blanco y negro**

In [19]:
path = "../input/biopsy_images"
subset["image_array"] = subset["image"].apply(image_BnW, args=(path,))

In [20]:
subset = subset.reset_index().drop(columns="index")

In [21]:
subset

     label        image                                        image_array
0      MSI    MSI_0.jpg  [[154, 179, 144, 124, 152, 146, 167, 201, 180,...
1      MSI    MSI_1.jpg  [[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...
2      MSI    MSI_2.jpg  [[246, 241, 236, 216, 173, 164, 158, 162, 164,...
3      MSI    MSI_3.jpg  [[123, 151, 178, 134, 135, 139, 142, 139, 102,...
4      MSI    MSI_4.jpg  [[128, 160, 172, 204, 192, 147, 146, 136, 127,...
...    ...          ...                                                ...
1995   MSS  MSS_995.jpg  [[107, 75, 106, 126, 127, 169, 124, 136, 141, ...
1996   MSS  MSS_996.jpg  [[226, 236, 203, 160, 211, 240, 244, 239, 232,...
1997   MSS  MSS_997.jpg  [[68, 64, 62, 67, 71, 56, 77, 90, 100, 108, 10...
1998   MSS  MSS_998.jpg  [[164, 177, 181, 179, 185, 135, 48, 26, 40, 11...
1999   MSS  MSS_999.jpg  [[106, 91, 118, 190, 206, 201, 198, 184, 177, ...

[2000 rows x 3 columns]

**Checkear que los arrays son todos del mismo tamaño**

In [22]:
size = subset["image_array"][0].shape
size

(224, 224)

In [23]:
subset["shape"] = subset["image_array"].apply(checkSize)
subset.head()

,label,image,image_array,shape
0,MSI,MSI_0.jpg,"[[154, 179, 144, 124, 152, 146, 167, 201, 180,...","(224, 224)"
1,MSI,MSI_1.jpg,"[[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...","(224, 224)"
2,MSI,MSI_2.jpg,"[[246, 241, 236, 216, 173, 164, 158, 162, 164,...","(224, 224)"
3,MSI,MSI_3.jpg,"[[123, 151, 178, 134, 135, 139, 142, 139, 102,...","(224, 224)"
4,MSI,MSI_4.jpg,"[[128, 160, 172, 204, 192, 147, 146, 136, 127,...","(224, 224)"

In [24]:
subset["shape"][subset["shape"]!=size].value_counts()

Series([], Name: shape, dtype: int64)

Todos son de 224x224

**Guardar dataframe con los arrays y el label**

In [25]:
final_subset = subset[["label","image_array"]]

In [26]:
final_subset

     label                                        image_array
0      MSI  [[154, 179, 144, 124, 152, 146, 167, 201, 180,...
1      MSI  [[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...
2      MSI  [[246, 241, 236, 216, 173, 164, 158, 162, 164,...
3      MSI  [[123, 151, 178, 134, 135, 139, 142, 139, 102,...
4      MSI  [[128, 160, 172, 204, 192, 147, 146, 136, 127,...
...    ...                                                ...
1995   MSS  [[107, 75, 106, 126, 127, 169, 124, 136, 141, ...
1996   MSS  [[226, 236, 203, 160, 211, 240, 244, 239, 232,...
1997   MSS  [[68, 64, 62, 67, 71, 56, 77, 90, 100, 108, 10...
1998   MSS  [[164, 177, 181, 179, 185, 135, 48, 26, 40, 11...
1999   MSS  [[106, 91, 118, 190, 206, 201, 198, 184, 177, ...

[2000 rows x 2 columns]

In [27]:
final_subset.to_pickle("../output/final_subset_BnW.pkl")