In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         41 mins 02 secs
H2O_cluster_timezone:       Europe/Madrid
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.2
H2O_cluster_version_age:    14 days, 18 hours and 46 minutes
H2O_cluster_name:           H2O_from_python_flori_quyviq
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.562 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.5 final
--------------------------  ------------------------------------------------------------------

In [71]:
subset = pd.read_pickle("../output/final_subset_BnW.pkl")

In [72]:
subset["image_array"][0].dtype

dtype('uint8')

In [73]:
train = h2o.H2OFrame(subset)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [74]:
train.head(5)

label,image_array
MSI,[[154 179 144 ... 159 148 171] [167 155 155 ... 139 167 156] [142 146 179 ... 160 165 132] ... [146 168 143 ... 180 181 182] [160 146 147 ... 157 159 153] [177 154 146 ... 173 161 136]]
MSI,[[160 146 134 ... 141 123 137] [130 146 145 ... 115 102 124] [ 95 125 140 ... 118 120 127] ... [104 101 114 ... 147 173 102] [100 78 99 ... 170 173 115] [ 92 80 87 ... 173 161 102]]
MSI,[[246 241 236 ... 104 115 100] [230 241 234 ... 103 115 133] [199 220 214 ... 95 111 145] ... [116 104 93 ... 184 134 73] [ 83 73 69 ... 172 124 117] [ 84 82 85 ... 178 115 136]]
MSI,[[123 151 178 ... 130 145 142] [137 109 90 ... 103 113 191] [143 116 87 ... 111 68 142] ... [106 73 97 ... 95 99 94] [108 112 123 ... 121 135 125] [110 117 117 ... 84 103 127]]
MSI,[[128 160 172 ... 163 183 178] [143 170 190 ... 139 176 187] [145 154 193 ... 125 167 207] ... [120 114 126 ... 166 132 144] [120 119 127 ... 180 144 118] [125 144 154 ... 143 160 112]]

In [75]:
train.describe()

Rows:2000
Cols:2

,label,image_array
type,enum,string
mins,,NaN
mean,,NaN
maxs,,NaN
sigma,,NaN
zeros,,0
missing,0,0
0,MSI,[[154 179 144 ... 159 148 171] [167 155 155 ... 139 167 156] [142 146 179 ... 160 165 132] ... [146 168 143 ... 180 181 182] [160 146 147 ... 157 159 153] [177 154 146 ... 173 161 136]]
1,MSI,[[160 146 134 ... 141 123 137] [130 146 145 ... 115 102 124] [ 95 125 140 ... 118 120 127] ... [104 101 114 ... 147 173 102] [100 78 99 ... 170 173 115] [ 92 80 87 ... 173 161 102]]
2,MSI,[[246 241 236 ... 104 115 100] [230 241 234 ... 103 115 133] [199 220 214 ... 95 111 145] ... [116 104 93 ... 184 134 73] [ 83 73 69 ... 172 124 117] [ 84 82 85 ... 178 115 136]]
3,MSI,[[123 151 178 ... 130 145 142] [137 109 90 ... 103 113 191] [143 116 87 ... 111 68 142] ... [106 73 97 ... 95 99 94] [108 112 123 ... 121 135 125] [110 117 117 ... 84 103 127]]
4,MSI,[[128 160 172 ... 163 183 178] [143 170 190 ... 139 176 187] [145 154 193 ... 125 167 207] ... [120 114 126 ... 166 132 144] [120 119 127 ... 180 144 118] [125 144 154 ... 143 160 112]]
5,MSI,[[243 247 240 ... 129 115 118] [241 238 245 ... 120 118 105] [242 249 248 ... 139 120 99] ... [ 95 128 165 ... 114 105 109] [107 133 142 ... 153 143 127] [126 120 107 ... 186 179 168]]
6,MSI,[[ 75 91 138 ... 244 248 247] [ 66 100 124 ... 245 247 248] [ 77 103 122 ... 246 247 249] ... [229 225 232 ... 249 250 251] [227 218 231 ... 248 249 251] [228 226 221 ... 248 249 251]]
7,MSI,[[139 155 153 ... 178 127 75] [131 154 154 ... 172 123 78] [102 124 147 ... 186 132 92] ... [ 93 101 98 ... 155 128 95] [101 136 140 ... 137 104 79] [108 146 141 ... 122 97 120]]
8,MSI,[[107 94 111 ... 113 125 123] [110 79 111 ... 124 130 117] [121 74 102 ... 150 129 132] ... [107 133 142 ... 145 144 165] [125 121 115 ... 133 129 156] [160 131 122 ... 157 158 138]]
9,MSI,[[248 247 246 ... 173 191 170] [248 247 247 ... 188 205 208] [249 248 248 ... 183 210 220] ... [102 132 131 ... 249 229 233] [ 89 147 138 ... 250 253 251] [106 149 144 ... 204 212 205]]

In [76]:
train["image_array"] = train['image_array'].asnumeric()

In [77]:
train.describe()

Rows:2000
Cols:2

,label,image_array
type,enum,int
mins,,NaN
mean,,0.0
maxs,,NaN
sigma,,-0.0
zeros,,0
missing,0,2000
0,MSI,nan
1,MSI,nan
2,MSI,nan
3,MSI,nan
4,MSI,nan
5,MSI,nan
6,MSI,nan
7,MSI,nan
8,MSI,nan
9,MSI,nan

In [26]:
# Identify predictors and response
x = train.columns
y = "label"
x.remove(y)

In [27]:
train[y] = train[y].asfactor()

In [ ]:


splits = df_train.split_frame(ratios = [0.8], seed = 1)
train = splits[0]
test = splits[1]

:

aml = H2OAutoML(seed = 50, sort_metric='RMSE')
aml.train(y = y, training_frame = df_train)

In [ ]:
lb = aml.leaderboard
lb.head(rows=lb.nrows)