In [1]:
from PIL import Image
import pandas as pd
import glob
import re
import matplotlib.pyplot as plt
import cv2
import os
from df_array_image import *

**Empiezo con el subconjunto de 2000 imagénes**

In [2]:
path_csv = "../output/df_subset.csv"
subset = open_removeUnnamed_df(path_csv)

  label      image
0   MSI  MSI_0.jpg
1   MSI  MSI_1.jpg
2   MSI  MSI_2.jpg
3   MSI  MSI_3.jpg
4   MSI  MSI_4.jpg

**Probar primero con imágenes en blanco y negro**

In [3]:
# Para ello debug=False
debug = False

In [4]:
column_name = "image"
path_images = "../input/biopsy_images"
#debug = False
subset = addColumn_imageArray(subset, column_name, path_images, debug)

Column with arrays from images in gray scale has been added

  label      image                                        image_array
0   MSI  MSI_0.jpg  [[154, 179, 144, 124, 152, 146, 167, 201, 180,...
1   MSI  MSI_1.jpg  [[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...
2   MSI  MSI_2.jpg  [[246, 241, 236, 216, 173, 164, 158, 162, 164,...
3   MSI  MSI_3.jpg  [[123, 151, 178, 134, 135, 139, 142, 139, 102,...
4   MSI  MSI_4.jpg  [[128, 160, 172, 204, 192, 147, 146, 136, 127,...

**Checkear que los arrays son todos del mismo tamaño**

In [5]:
column_name = "image_array"
subset = addColumn_shape(subset, "image_array")

Column with image sizes has been added

,label,image,image_array,shape
0,MSI,MSI_0.jpg,"[[154, 179, 144, 124, 152, 146, 167, 201, 180,...","(224, 224)"
1,MSI,MSI_1.jpg,"[[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...","(224, 224)"
2,MSI,MSI_2.jpg,"[[246, 241, 236, 216, 173, 164, 158, 162, 164,...","(224, 224)"
3,MSI,MSI_3.jpg,"[[123, 151, 178, 134, 135, 139, 142, 139, 102,...","(224, 224)"
4,MSI,MSI_4.jpg,"[[128, 160, 172, 204, 192, 147, 146, 136, 127,...","(224, 224)"

In [6]:
column_name = "shape"
#debug = False
checkSize(subset, column_name, debug)

All images are the same size: (224, 224)

**Guardar dataframe con los arrays y el label**

In [7]:
column_names = ["label","image_array"]
name_file = "final_subset"
#debug = False
saveDFtoPickle(subset, column_names, name_file, debug)

  label                                        image_array
0   MSI  [[154, 179, 144, 124, 152, 146, 167, 201, 180,...
1   MSI  [[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...
2   MSI  [[246, 241, 236, 216, 173, 164, 158, 162, 164,...
3   MSI  [[123, 151, 178, 134, 135, 139, 142, 139, 102,...
4   MSI  [[128, 160, 172, 204, 192, 147, 146, 136, 127,...