In [1]:
from PIL import Image
import pandas as pd
import glob
import re
import matplotlib.pyplot as plt
import cv2
import os
from df_array_image import *

**Empiezo con el subconjunto de 4000 imagénes**

In [2]:
path_csv = "../output/df8mil.csv"
subset = open_removeUnnamed_df(path_csv)

   Unnamed: 0.1 label      image
0             0   MSI  MSI_0.jpg
1             1   MSI  MSI_1.jpg
2             2   MSI  MSI_2.jpg
3             3   MSI  MSI_3.jpg
4             4   MSI  MSI_4.jpg

In [3]:
subset= pd.read_csv(path_csv)

In [4]:
subset.head()

   Unnamed: 0  Unnamed: 0.1 label      image
0           0             0   MSI  MSI_0.jpg
1           1             1   MSI  MSI_1.jpg
2           2             2   MSI  MSI_2.jpg
3           3             3   MSI  MSI_3.jpg
4           4             4   MSI  MSI_4.jpg

In [5]:
subset.drop(columns=["Unnamed: 0","Unnamed: 0.1"],inplace=True)
subset.head()

  label      image
0   MSI  MSI_0.jpg
1   MSI  MSI_1.jpg
2   MSI  MSI_2.jpg
3   MSI  MSI_3.jpg
4   MSI  MSI_4.jpg

**Para las imágenes a color todo igual, lo unico es establecer el debug a True**

In [6]:
# Para ello debug=True
debug = True

In [7]:
column_name = "image"
path_images = "../input/biopsy_images"
#debug = False
subset = addColumn_imageArray(subset, column_name, path_images, debug)

Column with arrays from images in RGB has been added

  label      image                                        image_array
0   MSI  MSI_0.jpg  [[[207, 131, 178], [216, 161, 201], [178, 126,...
1   MSI  MSI_1.jpg  [[[216, 136, 187], [205, 121, 173], [195, 108,...
2   MSI  MSI_2.jpg  [[[254, 246, 244], [253, 238, 243], [255, 229,...
3   MSI  MSI_3.jpg  [[[159, 101, 152], [186, 129, 182], [210, 155,...
4   MSI  MSI_4.jpg  [[[173, 105, 156], [203, 141, 182], [203, 159,...

**Checkear que los arrays son todos del mismo tamaño**

In [8]:
column_name = "image_array"
subset = addColumn_shape(subset, "image_array")

Column with image sizes has been added

,label,image,image_array,shape
0,MSI,MSI_0.jpg,"[[[207, 131, 178], [216, 161, 201], [178, 126,...","(224, 224, 3)"
1,MSI,MSI_1.jpg,"[[[216, 136, 187], [205, 121, 173], [195, 108,...","(224, 224, 3)"
2,MSI,MSI_2.jpg,"[[[254, 246, 244], [253, 238, 243], [255, 229,...","(224, 224, 3)"
3,MSI,MSI_3.jpg,"[[[159, 101, 152], [186, 129, 182], [210, 155,...","(224, 224, 3)"
4,MSI,MSI_4.jpg,"[[[173, 105, 156], [203, 141, 182], [203, 159,...","(224, 224, 3)"

In [9]:
column_name = "shape"
#debug = False
checkSize(subset, column_name, debug)

All images are the same size: (224, 224, 3)

**Guardar dataframe con los arrays y el label**

In [10]:
column_names = ["label","image_array"]
name_file = "final_subset8mil"
#debug = False
saveDFtoPickle(subset, column_names, name_file, debug)

  label                                        image_array
0   MSI  [[[207, 131, 178], [216, 161, 201], [178, 126,...
1   MSI  [[[216, 136, 187], [205, 121, 173], [195, 108,...
2   MSI  [[[254, 246, 244], [253, 238, 243], [255, 229,...
3   MSI  [[[159, 101, 152], [186, 129, 182], [210, 155,...
4   MSI  [[[173, 105, 156], [203, 141, 182], [203, 159,...