In [1]:
from PIL import Image
import pandas as pd
import glob
import re
import matplotlib.pyplot as plt
import cv2
import os
from image_processing import *

**Parto del pickle de 2000 imagenes BnW**

In [2]:
subset = pd.read_pickle("../output/final_subset_BnW.pkl")
subset.head()

  label                                        image_array
0   MSI  [[154, 179, 144, 124, 152, 146, 167, 201, 180,...
1   MSI  [[160, 146, 134, 96, 67, 69, 78, 96, 124, 155,...
2   MSI  [[246, 241, 236, 216, 173, 164, 158, 162, 164,...
3   MSI  [[123, 151, 178, 134, 135, 139, 142, 139, 102,...
4   MSI  [[128, 160, 172, 204, 192, 147, 146, 136, 127,...

**Bajo tamaño imagen**

In [3]:
size = (25,25)
subset["image_array"] = subset["image_array"].apply(sizeImage, args=(size, False,))

In [4]:
subset

     label                                        image_array
0      MSI  [[151, 136, 178, 137, 127, 172, 131, 145, 171,...
1      MSI  [[88, 122, 103, 151, 147, 131, 150, 101, 111, ...
2      MSI  [[148, 155, 148, 153, 100, 197, 177, 96, 182, ...
3      MSI  [[94, 97, 96, 111, 234, 121, 193, 115, 103, 14...
4      MSI  [[160, 150, 169, 146, 231, 125, 164, 139, 108,...
...    ...                                                ...
1995   MSS  [[110, 239, 154, 98, 68, 77, 126, 163, 163, 23...
1996   MSS  [[195, 156, 155, 128, 181, 241, 166, 139, 196,...
1997   MSS  [[98, 96, 122, 90, 118, 102, 98, 152, 94, 132,...
1998   MSS  [[129, 194, 117, 159, 101, 83, 201, 187, 151, ...
1999   MSS  [[168, 149, 195, 162, 81, 100, 130, 142, 129, ...

[2000 rows x 2 columns]

In [5]:
subset["image_array"][0].shape

(25, 25)

In [6]:
subset.to_pickle("../output/subset_BnW_25x25.pkl")

**Normalizo**

In [7]:
subset["image_array"] = subset["image_array"].apply(normalizeImage)

In [8]:
subset.head()

  label                                        image_array
0   MSI  [[0.705607476635514, 0.6355140186915887, 0.831...
1   MSI  [[0.4, 0.5545454545454546, 0.4681818181818182,...
2   MSI  [[0.5873015873015873, 0.6150793650793651, 0.58...
3   MSI  [[0.3836734693877551, 0.39591836734693875, 0.3...
4   MSI  [[0.6866952789699571, 0.6437768240343348, 0.72...

In [9]:
subset.to_pickle("../output/subset_BnW_25x25Normalized.pkl")